*{
    margin: 0;
    padding: 0;
}

.registrationContainer{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reg_border{
    border: 2px solid black;
    padding: 2rem;
}

/* .lgnLnk{
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
} */

.registration{
    font-size: 1.2rem;
    text-align: center;
}

.formSection section{
    margin: 1rem 0;
}

.sbmtBtn{
    width: 100%;
    height: 2rem;
}